/* CSS Document */
a {outline:none;} a:active {outline:none;}a:focus {-moz-outline-style:none;}
:-moz-any-link:focus {outline:none;}
:-webkit-any-link:focus {outline:none;}

header, section {
	display:block;
	}
body {
	margin:0 auto;
	}
.left{
	text-align:left;
	width:100%;
	}
	
#header {
	background-attachment:scroll, fixed;
	background-color:#00d9ee;
	background-image:url(../images/white-pattern.png), url(../images/header-bg.png);
	background-position:bottom left, center center;
	background-repeat:repeat-x, no-repeat;
	background-size:auto, cover;
	color:#ffffff;
	padding:590px 0px 0px 0px;
	text-align:center;	
	}
	
@font-face {
    font-family: 'rugsnatcher_demoregular';
    src: url('../fonts/rugsnatcher-demo-webfont.woff2') format('woff2'),
         url('../fonts/rugsnatcher-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
	
#header h1 {
	color:#00eefa;
	font-family:rugsnatcher_demoregular;
	text-transform:uppercase;
	font-weight:400;
	font-size:78px;
	line-height:0px;
	margin:-435px 0px 0px 0px;
	padding:0px 0px 45px 0px;	
	}
	
#header h2 {
	color:#01ddff;
	font-family: Verdana;
	text-transform:uppercase;
	font-weight:300;
	font-size:30px;
	margin:0px 0px 40px 0px;
	padding:0px 0px 51px 0px ;
	}
	
	/*START TOP MENU*/	

#top-menu {
	background-color:rgba(255,255,255,0.50);
	border:0;
	width:100%;
	height:90px;
	top:0%;
	left:0%;
	position:absolute;
	}

#top-menu ul{
	margin:20px 12% 0px 0px;
	list-style-type: none;
	}
	
#top-menu  li{
	list-style-type: none;
	float: right;
	}
	
#top-menu li a:hover {
	background-color:#0099cc;
	}
	
#top-menu li a {
	
    display: inline-block;
	font-family:Arial; 
    color: 3f3f3f;
	font-size:18;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
	
	/*LOGO*/
	
#top-menu .logo {
	background-image:url(../images/NG.png);
	background-repeat:no-repeat;
	position:top top;
	margin:0px 0px 0px 0px;
	background-color:rgba(255,255,255,0.0);
	border:0;
	width:50%;
	height:90px;
	top:0%;
	left:99px;
	position:absolute;
	}
	
#top-menu .login {
	background-image:url(../images/login.png);
	background-repeat:no-repeat;
	margin:0px 0px 0px 100px;
	background-color:rgba(255,255,255,0.0);
	border:0;
	width:105px;
	height:30px;
	top:30px;
	left:81.85%;
	position:absolute;
	}
	
	/*END TOP MENU*/

	 /* section 2  */
	
#principles {
	background-color:#232323;
	color:#666666;
	margin: -100px 0px 0px 0px;
	height:350px;
	
	}
	
#principles h1 {
	color:#cbcbcb;
	font-family: Verdana; 
	text-transform:uppercase;
	font-weight:600;
	font-size:15px;
	line-height:80px;
	text-align:center;	
	}
	
#principles h2 {
	color:#cbcbcb;
	font-weight:300;
	font-size:25px;
	text-align:center;		
	}

#intro .asd{
	background-image:url(../images/asd.png);
	background-color:rgba(255,255,255,0.0);
	width:970px;
	height:448px;
	top:250px;
	left:220px;
	position:absolute;
	}
	
#intro {
	padding: 90px 0px 10px 20px;
	text-align:center;
	}
	
#intro h2 {
	font-family: Times New Roman;
	font-size:28px;
	line-height:28px;
	margin:0px 0px 26px 0px;
	font-weight:500;
	color:#666666;
	}

#intro p {
	font-family: Trebuchet MS;
	font-size:16.35px;
	margin:0px 0px 46px 0px;
	font-weight:300;
	color:#666666;
	}
	
	/* section 3 */
	
	#imgin {
		color:#ebebeb;
	width:1000px; clear:both;
	display:inline-block; margin-bottom:70px;
	}
	
#imgin a.play {
	float:left;
	display: inline-block;
	height:200px; width:200px;
	margin-right:50px;
	background-image:url(../images/play.png);
	background-repeat:no-repeat;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%); 
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%); 
	-o-transition: .5s ease-in-out;
	}
	
#imgin a.play:hover{
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
	}
	
#imgin a.test {
	float:left;
	display: inline-block;
	height:200px; width:200px;
	margin-right:50px;
	background-image:url(../images/test.png);
	background-repeat:no-repeat;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%); 
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%); 
	-o-transition: .5s ease-in-out;
	}
	
#imgin a.test:hover {	
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
	}

#imgin a.stream {
	float:left;
	display: inline-block;
	height:200px; width:200px;
	margin-right:50px;
	background-image:url(../images/stream.png);
	background-repeat:no-repeat;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%); 
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%); 
	-o-transition: .5s ease-in-out;
	}
	
#imgin a.stream:hover{
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
	}
	
#imgin a.shop {
	float:left;
	display: inline-block;
	height:200px; width:200px;
	margin-right:50px;
	background-image:url(../images/shop.png);
	background-repeat:no-repeat;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%); 
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%); 
	-o-transition: .5s ease-in-out;
	}
	
	/*section 4*/
	
#imgin a.shop:hover{
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
	}
	
.bsr{
	border-bottom: 1px solid #373737;
	margin:0px 0px;
	}
	
	/*section 5*/
	
#news-border {
	background-color:#f6f6f6;
	margin:0px 99px 0px 99px;
	}
#news-miniborder {
	margin: -100px 50px 45px 250px;
	
	}
	
#news-border p{
	color:#666666;
	font-family: Verdana;
	font-size:18px;
	font-weight: bold;
	margin:0px 0px 30px 0px;
	}
	
#news-border p1{
	color:#666666;
	font-family: Verdana;
	font-size:14px;
	font-weight: bold;
	}
	
	/*section 6*/
	
#sites-border {
	background-color:#232323;
	margin:-280px 0px 0px 700px;
	line-height:25px;
	}
	
#sites-border p2{
	font-family: Verdana;	
	font-size:20px;
	font-weight: bold;
	}
	
#sites-border2 {
	background-color:#232323;
	margin:-250px 0px 0px 1000px;
	line-height:25px;
	}
	
#sites-border2 p2{
	font-family: Verdana;	
	font-size:20px;
	font-weight: bold;
	}
	
#footer .copyright {
	color:#666666;
	font-family: Arial; 
	font-size:15px;
	line-height:30px;
	margin:0px 106px 0px 0px;
	float:right;
	}
	
.bottom-border {
	margin: -100px 50px 120px 250px;
}